.container {
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

body {
  background-color: #f9f9fa;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 20px;
  margin: auto;
  padding-top: 2%;
}

.one {
  margin: auto;
  display: block;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: transform .05s;
}

a{
  text-decoration: none;
  color: #337ab7;
}
a:hover {
  color: #337ab7;

}

a:visited {
  color: #337ab7;
}

.thumbnail {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 10%;
}

.one:hover{
  transform: scale(1.15);
}

button.folder{
  border: none;
  background: none;
  max-width: 150px;
  margin: auto;
}

#header {
  display: grid;
  width: 100%;
}

#header2 {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.text-common, .text, .text-left {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0;
  font-family: Helvetica, sans-serif;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

a.customize {
  color: lightgray;
  text-align: end;
  float: right;
}

a.customize:hover {
  color: #337ab7;
}

a.reset{
  color: lightgray;
  float: left;
}

a.reset:hover {
  color: #337ab7;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}
