.container {
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

body {
  background-color: #f9f9fa;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 20px;
  margin: auto;
  padding-top: 2%;
}

.one {
  margin: auto;
  display: block;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: transform .05s;
}

a{
  text-decoration: none;
  color: #337ab7;
}
a:hover {
  color: #337ab7;

}

a:visited {
  color: #337ab7;
}

.thumbnail {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 10%;
}

.one:hover{
  transform: scale(1.15);
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

a.customize {
  display: inline-block;
  color: lightgray;
  width: 100%;
  grid-area: header;
  text-align: end;
}

a.customize:hover {
  color: #337ab7;
}